body{
	background-color: #f6f6f6;
		width: 90%;
		margin: 0 auto;
}
.Page {
	display: block;
}
#PageHeader{
	width: 100%;
	background-color: white;
	display: inline-block;
	box-shadow: 0px 5px 5px #888888;
	margin-bottom: 0px;
}
.PrimaryNav{
	display: inline;
	padding-left: 5%;
	padding-right: 5%;
	list-style: none;
}
.MobileOnly {
	display: none;
}
.PrimaryNav ul {
	list-style: none;
	width: 100%;
}
.PrimaryNav li {
	float: left;
	width: 30%;
}
.PrimaryNav a {
	text-decoration: none; 
	color: white;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
	color: #52608E;
}
.PrimaryNav span {
	width: 100%;
	display: block;
}
.active {
	/*Something needed here to demo to the user what pager they are currently on*/

}
.hover {
  	text-decoration: underline;
}


#PagePhotoFrame{
	width: 100%;
	height: 20%;
	display: inline-block;
	float: left;

}
#PageMainImage{
	width: 100%;
	height: 100%;
}
#MainPageContent{
	width: 100%;
	display: inline-block;
	margin-top: 0px;
	padding-top: 0px;
	box-shadow: 0px 5px 5px #888888;
	background-color: white;
}
#ArticleContentContainer{
	padding: 5%;
	width: 90%;
	display: inline-block;
}
h1 {
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;

}
#PageTitleContainer{
	display: inline-block;
	width: 100%;
}
#PageTitle{
	float: left;
	margin: 0 auto;
	width: 40%;
}
footer {
	font-size: 0.8em;
	font-weight: italic;
	text-decoration: none;
	color: #808080;
}



#PageHeadImage {
	margin: 0 auto;

}

/*Send Message Form*/
#SendMessageFormContainer{
	display: block;
	margin: 0 auto;
	width: 50%;
}
.UserForm {
	margin: 0 auto;

}
#NameTextBoxLabel {
	width: 30%;
	display: inline-block;
	text-align: center;
}
#NameTextBoxContainer {
	width: 70%;
	display: inline-block;
}
#NameTextBox {
	width: 70%;
	float: left;
}
#UserMessage {
	width: 100%;
	height: 40px;
}
#GoogleAntiSpanStyleBuffer {
	display: inline-block;
	width: 50%;
}
#html_element {
	padding-left: 25%;
	margin: 0 auto;
	display: inline-block;
}
#submitMessageFormButtonContainer {
	margin: 0 auto; 
	width: 55%;
	float: right;
	display: inline-block;
}

/*The formatting for the authirise messages table could really do with being spun off into the admin only css*/
#MessagesTable {
	width: 100%;
	display: inline-block;
}
.MessagesAuthTable {
	display: block;
	width: 80%;
	margin: 0 auto;
}
.GivenNameColumn {
	width: 25%;
	float: left;
	display: inline-block;
}
.MessageTextColumn {
	width: 55%;
	display: inline-block;
	float: left;
}
.AuthoriseButton {
	width: 10%;
	display: inline-block;
	float: left;
	text-align: center;
}
.DeleteButton {
	width: 8%;
	display: inline-block;
	float: right;
	text-align: center;
	padding-left 1%; 
}
.ButtonsBlock{
  text-align: center;
  background-color: green;
  cursor: pointer;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
}
.TableLine {
	/*padding-top: 4%;*/
	display: block;
}